extends layout.pug

block content
  h1.mt-5 BillTracker
  h2 Adulting made easy!
  |
  hr
  |
  h3 Manage your bills here
    |
    hr
    |
    section(style='background:#E3E7E7; border-bottom:solid; width:100%;')
      ul
        li.form-group(style='display:inline')
          label.control-label.requiredField(style='font-size:18px' for='viewList') View By:
              select#viewList.select.form-control.input-lg(form='viewList', name='viewList')
                option(value='all', selected= all) All
                option(value='paid', selected= paid) Paid
                option(value='future', selected= future) Future
                option(value='overdue', selected= overdue) Overdue
        a.btn.btn-primary(href='./bills/new' style='margin-left: 25px;display:inline') Add Bill

  each bill in bills
    section(style='background:#D4F4F6;border-bottom: solid;width:100%;height:250px')
      a(style='display:block;width:100%;font-size:40px;text-align:center' href='/bills/' + bill.id)= bill.company
      p(style='width:100%;font-size:20px;text-align:center' href='/bills/' + bill.id)= "Bill Type: " + bill.type
      ul(style='display:flex; justify-content: space-between; list-style-type:none; text-align:center;text-decoration:underline')
        li(style='font-weight:bold;display:inline;')= "Due Date"
        li(style='font-weight:bold;display:inline;margin-left:-1.5%')= "Amount Due"
        li(style='font-weight:bold;display: inline;margin-right:7%')= "Status"

      ul(style='display:flex; justify-content: space-between; list-style-type:none; text-align:center')
        li(style='font-weight:bold;display:inline')= bill.dueDate.toLocaleDateString("en-US")
        li(style='font-weight:bold;display:inline;')="$" + bill.amtDue
        if bill.paidStatus == 'paid'
          li.a.btn.btn-primary( style='background:green;margin-right:5.75%;padding:15px') paid
        else if  bill.paidStatus == 'unpaid' && bill.dueDate < Date.now()
          li.a.btn.btn-primary( style='background:red;margin-right:5.75%;padding:15px') overdue
        else
          li.a.btn.btn-primary( style='background:red;margin-right:5.75%;padding:15px') pay

  